# Create one with no scope selected on https://github.com/settings/tokens/new
# This token is used for fetching the repository releases.
GITHUB_TOKEN=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
